.load-content{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  font-size: 0;
}
#circle {
  transform: rotate(-90deg);
  transform-origin: center;
  transition: all 2s;
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #6E6E6E;
}